.nav-container {
    width: 100%;
    height: 80px;
    background-color: #F76242;
    box-shadow: 2px 2px 5px lightcoral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 5.3rem;
}

.nav-img {
    height: 10rem;
    padding: 0 1rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2rem;
    width: 100%;
    list-style-type: none;
}

.nav-profil, .nav-logout {
    cursor: pointer;
    width: 15%;
}

.nav-profil a, .nav-logout a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 325px) and (max-width: 675px) {
    nav {
        width: 100%;
    }

    .nav-logo {
        height: 5.3rem;
    }

    .nav-logo img {
        height: 7rem;
    }

    .nav-list {
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 675px) and (max-width: 1024px) {
    .nav-list {
        display: flex;
        justify-content: flex-end;
    }

    .nav-profil, .nav-logout {
        width: 25%;
    }
    
}