.home-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    width: 45rem;
    height: auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin: 3.12rem;
    box-shadow: 1px 1px 5px 4px gainsboro;
    font-size: 1.2rem;
}

.post-content {
    flex: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-content-profil-img img {
    border-radius: 10rem;
    height: 10rem;
    width: 10rem;
    margin: 1rem;
    box-shadow: 2px 1px 10px 4px gainsboro;
}

.post-content-header, .post-content-date {
    flex: 30%;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 1rem;
}

.post-content-header a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.post-content-content {
    flex: 50%;
    display: flex;
    justify-content: center;
}

.post-edit-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
}

.edit-input {
    width: 20rem;
    height: 3rem;
}

.post-img {
    flex: 70%;
    margin: auto;
}

.post-img img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.post-engagement {
    flex: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
}

.post-engagement #like-btn, .post-engagement #comment-btn {
    font-size: 2.5rem;
    color: dimgray;
    cursor: pointer;
}

.post-engagement #like-btn:hover, .post-engagement #comment-btn:hover, .updated-btn-container #modify-btn, .updated-btn-container #delete-btn {
    color: #2976D0;
}

.updated-btn-container {
    display: flex;
    align-items: center;
}

.updated-btn-container #modify-btn, .updated-btn-container #delete-btn {
    font-size: 2.5rem;
    color: dimgray;
    cursor: pointer;
    padding: 1rem;
}

.comment-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.send-comment {
    height: 3rem;
    width: 20rem;
    border: 2px solid dimgray;
    box-shadow: 2px 2px 2px 2px gainsboro;
}

.comment-form input::placeholder {
    font-size: 1rem;
    font-weight: bold;
}

.btn-comment {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px gainsboro;
}

.comment-container {
    margin: 2rem 0;
}

.comments-container {
    background-color: gainsboro;
    margin-bottom: 3rem;
}

.post-comments {
    display: flex;
    align-items: center;
}

.post-comment-profil-img {
    padding: 1rem 1rem;
}

.comment-profil-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 5rem;
    box-shadow: 1px 1px 7px 2px dimgray;
}

.post-comments-header {
    padding: 1rem;
}

.post-comments-content {
    padding: 0 3rem;
    font-size: 1.3rem;
}

.post-comments-options #modify-btn, .post-comments-options #delete-btn {
    font-size: 1.5rem;
    color: dimgray;
    cursor: pointer;
    padding: 0 2rem;
}



